@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
      height: 100vh;
      width: 100vw;
}

body {
    font-family: 'Vollkorn', Georgia , serif;
}

img {
  
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Grid geral */

.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 1fr;
    grid-template-areas: 
       "header  header  header"
       "sidenav content anuncios"
       "footer  footer  footer"
       ; 
}

/* Header  */
.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07Dfb);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

header a{
    color: white;
}

header li{
    background-color: rgba(0, 0, 0, 0.116);
    margin: 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.logo {
    max-width: 200px;
}

.sidenav {
    grid-area: sidenav;
}

.content {
   grid-area: content;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 30px;
   gap: 30px;
   max-width: 900px;
   margin: 0 auto;
}

.anuncios {
   grid-area: anuncios; 
}

.footer {
    grid-area: footer;
}

.titulo {
    
}

.titulo h1{
    color: #B07DFB;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1;
}

.titulo span{
    color: #B07Dfb;
    font-size: 1em;
    font-style: italic;
}

.caracteristicas {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;


    
}


.numero {
    font-size: 2em;
    background-color: #8844ee;
    color: white;
    align-self: flex-start;
    margin: 10px auto;
    border-radius: 5px;
    width: 80px;
}

.rotulo {
    font-size: 1em;
    color: #B07DFB;
    background-color: white;
    align-self: flex-end;
    padding: 5px 0;
    position: relative;
    top: 2px;
}
