@charset "UTF-8";

@media screen and (max-width: 443px) {
    
    .estrutura {
        display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
       "header"
       "sidenav" 
       "content"
       "anuncios"
       "footer"
       ;
    }

    .content {
        display: flex;
        flex-flow: column wrap;
        padding-left: 5px;
        
    }

    .titulo {
        width: 150px;
    }
      
    img {
        max-width: 100%;
    }


    
    .header {
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .sidenav {
        display: grid;
        justify-content: flex-start;
        align-items: flex-start;
        
     }

     .sidenav li {
        margin: 8px;
        width: 28px;
        padding: 5px
        
     }
    
    .anuncios {
        background-color: rgba(0, 0, 0, 0.0281);
        padding: 20px;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 300px;
        gap: 20px;
        
        
    }
    
    footer {
        grid-area: footer;
        
    }


}